{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Uppr</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <header class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <ul>
            <li><a href="/" class="left brand-logo">  Uppr</a></li>    
          <ul class="right">
            <li><a href="{% url 'interview_time' %}">Interview Time</a></li> 
            <li><a href="{% url 'about' %}">About</a></li> 
            {% if user.is_authenticated %}                       
             <li><a href="{% url 'categories_create' %}">Add a Question Category</a></li>
            <li><a href="{% url 'categories_index' %}">View All Question Categories</a></li>
            <li><a href="{% url 'questions_create' %}">Add a Question</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
            {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
            {% endif %}
            <li><a href="{% url 'index' %}">View All My Questions</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="container">
      {% block content %} {% endblock %}
    </main>
  </body>
</html>
