{% extends 'base.html' %}{% block content %}
<h1 id="main-title">Interview Practice</h1>



<div class="card">
    <div class="card-content">
      <span class="card-title">Q: {{ question.user_question }}</span>
    </div>
  </a>
  <div class="card">
    <div class="card-content">
      
  <button class="btn">{{ question.answer1 }}</button>
  <button class="btn">{{ question.answer2 }}</button>
  {% if question.answer3 %}
  <button class="btn">{{ question.answer3 }}</button>
  <button class="btn">{{ question.answer4 }}</button>
  {% comment %} {% else %} {% endcomment %}
  {% comment %} <div id="answer">{{question.correct_answer}}</div> {% endcomment %}
  {% endif %}
    </div>
</div>

 <div class"next-but"><a href='/interview_time'/><button class="btn next">Next</button></a></div>
{% endblock%} 