{% extends 'base.html' %}{% block content %}
<h1 id="main-title">Interview Practice</h1>



<div class="card">
    <div class="card-content">
      <span class="card-title">{{ question.user_question }}</span>
    </div>
  </a>
  <div class="card">
    <div class="card-content">
      
  <button>{{ question.answer1 }}</button>
  <button>{{ question.answer2 }}</button>
  {% if question.answer3 %}
  <button>{{ question.answer3 }}</button>
  <button>{{ question.answer4 }}</button>
  {% else %}
  <div id="answer">{{question.correct_answer}}</div>
  {% endif %}
    </div>
</div>

  <a href='/interview_time'/><button>Next</button></a>
{% endblock%} 