* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  max-width: 95vw;
}

/* main {
  flex: 1 0 auto;
} */

nav {
  background-color: blue;
}

.nav-wrapper li a{
  font-size: 20px;
}

.nav-wrapper li .brand-logo {
  color: yellow;
  margin-left: 20px;
  font-size: 30px;
  font-weight: 700;
}

img {
  height: 300px; 
}

#main-title {
  text-align: center;
  color: blue;
  font-weight: 900;
}

h5 {
  text-align: center;
}

/* View All Questions page */

div.scroll {
  margin:4px, 4px;
  padding:4px;
  background-color: blue;
  color: white;
  width: 70vw;
  height: 65vh;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 17px;
  justify-content: center;
}

div.scroll h5 {
  text-align: left;
}

div.scroll a {
  font-weight: 700;
  color: yellow;
}